.tab-bar {
    /* background-color: aquamarine; */
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    font-family: 'Borel', cursive;
    font-size: 30;
}

.player--1-image {
    width: 30%;
    height: 48%;
    position: absolute;
    left: 2%;
    top: 30%;
    background-blend-mode: hard-light;
}

.player--2-image {
    width: 30%;
    height: 48%;
    position: absolute;
    left: 70%;
    top: 27%;
    background-blend-mode: hard-light;
}

.player-1-header {
    position: absolute;
    left: 12%;
    top: 15%;
    font-family: 'Tektur', cursive;
    font-size: 50;
}

.player-2-header {
    position: absolute;
    left: 78%;
    top: 15%;
    font-family: 'Tektur', cursive;
    font-size: 50;
}

.play--button {
    position: absolute;
    left: 40%;
    top: 70%;

    border: 2px;
    border-color: black;

    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    padding-bottom: 10px;

    font-family: 'Borel', cursive;
    font-size: 40px;
    text-align: center;

    background-color: rgb(255, 167, 105);
}

#output {
    position: absolute;
    left: 91%;
    top: 90%;

    font-family: 'Borel', cursive;
    font-size: 30px;
}

.draw--color {
    background-color: burlywood;
}
